.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.list-header{
    display: flex;
    align-items: center;
    width: 70%;
    border-bottom: #183D3D 2px solid;
}

.list-title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 80%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#040D12;
    flex: 90%;
}

.add-icon{
    font-size: 2.5rem;
    cursor: pointer;
}

.list-content{
    width: 70%;
}

.list-item-head{
    display: flex;
    padding: 10px;
    margin-top: 10px;
    background-color: #183D3D ;
    color:white;
}

.list-item{
    display: flex;
    padding: 20px 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.list-item:hover{
    background-color: #d7d7d7;
    cursor: pointer;
}   

.list-item-content{
    display: flex;
    width: 100%;
    flex:90%;
}

.task-title{
    flex:30%;
}

.task-description{
    flex: 60%;
}

.task-date{
    flex: 10%;
}

.list-item-actions{
    flex: 10%;
    display: flex;
    width: 100%;
    margin-left: 40px;
    align-items: center;
}

.task-icon{
    font-size: 1.8rem;
    margin-right: 20px;
    cursor: pointer;
}

.view-task-head{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.view-task-title{
    font-size:16px;
    margin-bottom: 10px;
}

.view-task-description{
    font-size: 16px;
    margin-bottom: 10px;
}

.view-task-duedate{
    font-size: 16px;
    margin-bottom: 10px;
}

.close-button{
    background-color: #183D3D;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}