<div class="home">
    <div class="right-side">
        <img src="../../assets/images/landing.png" alt="Task Manager" class="landing-img"/>
    </div>
    <div class="left-side">
        <p class="landing-title">Simplify Your Life With Task Manager</p>
        <p class="landing-subtitle">Task Manager is a simple and easy to use task management application that helps you to organize your tasks and get things done.</p>
        <button class="view-button" (click)="goList()">Get Start</button>
    </div>
</div>